{{template "base" .}}

{{define "content"}}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>This is the home page</h1>
        <p>this is some text</p>
        <a href="about">go to about</a>
        <div>
          <img src="./static/images/Chung.W.jpg" width="80%" alt="ChungW">
        </div>
      </div>
    </div>
  </div>
{{end}}
